asgiref==3.8.1
Django==5.2.1
django-dynamic-preferences==1.17.0
django-filter==25.1
django-jazzmin==3.0.1
django-users-auth==2.4.16
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
persisting-theory==1.0
PyJWT==2.9.0
sqlparse==0.5.3
